{
  "extends": [
    "react-app",
    "react-app/jest",
    "airbnb"
  ],
  "rules": {
    "react/jsx-filename-extension": [0],
    "no-console": "off",
    "react/prop-types": 0,
    "import/prefer-default-export": "off"
  }
}